input {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: black;
    width: 200px;
    height: 60px;
    background-color: gray;
    border: #000 solid 1px;
    border-radius: 15px;
    font-family: "Rubik", sans-serif;
    margin-top: 20px;
}
